/* font style :font-family: 'Mulish', sans-serif; */
body {
    font-family: 'Mulish';
}

/* header section */

header {
    display: flex;
    margin-top: 30px;
}


.logo {
    display: flex;
}

.logo h2 {
    margin-top: 5px;
    margin-left: 10px;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-left: 100px;
    /* padding: 0 10px; */
}

/* nav-bar */
nav {
    display: flex;
    align-items: center;
    margin-left: 550px;

}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    display: flex;
    margin-right: 50px;
    font-family: 'Mulish';

}

nav li a {
    text-decoration: none;
}

/* section-one */
.section-1 {
    background: url(Images/banner.png);
    background-repeat: no-repeat;
    width: 1270px;
    height: 900px;
    border-radius: 16px;
    margin-left: 170px;
    margin-top: 80px;



}

.banner-titile {
    text-align: center;
    padding: 10px;
}

.banner-titile h2 {
    font-size: 44px;
}

.banner-titile p {
    font-size: 16px;
}

.banner-input {
    text-align: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    height: 50px;
    width: 850px;
    margin-left: 150px;
    padding: 20px;

}

.banner-input input {
    border-radius: 8px;
    border: none;
    padding: 19px;
    color: #FFFFFF;


}

#find-now {
    background: #FF5400;
    color: black;
}

/* section-2 */

.section-2 {
    display: flex;
    gap: 50px;
    margin-top: -300px;
}

.section2-titile h1 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.section2-titile p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;

}

.section2-titile li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;

}

.btn-primary {
    background: #FF5400;
    border-radius: 8px;
    border: none;
    color: #FFF;
    font-size: 20px;
    padding: 14px 35px;

}

.section2-titile {
    margin-left: 180px;
}

.section2-img {
    height: 550px;
    width: 540px;
    margin-right: 130px;
}

/* setion-3 */
.section-3 {
    text-align: center;
    margin-top: 180px;
}

.section-3 h1 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.section-3 p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;


}

/* section-4 */

.section-4 {
    margin-left: 150px;
    padding: 20px;
}

.second-4 img {
    gap: 40px;
}

.section-banner-img-1 .second {
    height: 300px;
    width: 595px;
    padding: 10 20px;
}

.section-banner-img-2 .Rectange-9 {
    width: 295px;
    height: 285px;
}

.section-banner-img-1 img {
    padding: 10px;
}

.section-banner-img-2 img {
    padding: 10px;
}

.section-banner-img-3 {
    margin-left: 10px;
    margin-top: 10px;
}

.section-banner-img-3 .Rectangle-10 {
    padding: 0 20px;
    width: 700px;
    height: 299px;

}

/* section-5 */
.section-5 {
    text-align: center;
    margin-top: 100px;
}

.section-5 h1 {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.section-5 p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}

/* section-6 */
.group1 {
    display: flex;
    margin-top: 50px;
    margin-left: 180px;
    gap: 30px;
}

.sec1 {
    width: 525px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 30px;
}

.sec1 h2 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;

}

.sec1 p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.sec2 {
    width: 525px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 30px;
}

.sec2 h2 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;

}

.sec2 p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}


.sec1 img {
    height: 90px;
    width: 90px;

}

.sec2 img {
    height: 90px;
    width: 90px;
}

.group2 {
    width: 480px;
    margin-left: 510px;
    margin-top: 30px;
    padding: 30px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.group2 h2 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.group2 p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.group2 img {
    height: 90px;
    width: 90px;
}

.sec3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);

}

/* section-7 */
.section-7 {
    display: flex;
    margin-top: 100px;
}
.section-7-title{
    margin-left: 180px;
}
.section-7-video{
    margin-right: 100px;
}

.section-7-title h1 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.section-7-title p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.section-7-title li {
    color: #131318;
    font-size: 16px;
    font-weight: 700;
}